.howContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7%;
}

.howTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.howMainBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.HowBoxColumn {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.howImage1 {
    width: 50%;
    display: flex;
    padding: 5px;
    padding-bottom: 30px;
    justify-content: end;
    border-right: 1px solid black;
}

.howTextBox1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    padding-bottom: 30px;
}

.howTextBox2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    padding-bottom: 30px;
    text-align: end;
    border-right: 1px solid black;
}

.howImage2 {
    width: 50%;
    display: flex;
    padding: 5px;
    padding-bottom: 30px;
    justify-content: start;
}

.howImage3 {
    width: 50%;
    display: flex;
    padding: 5px;
    padding-bottom: 30px;
    justify-content: end;
    border-right: 1px solid black;
}

.howTextBox3 {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    padding-bottom: 30px;
}

.howTextBox4 {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    padding-bottom: 30px;
    text-align: end;
    border-right: 1px solid black;
}

.howImage4 {
    width: 50%;
    display: flex;
    padding: 5px;
    padding-bottom: 30px;
    justify-content: start;
}