input[type="color"] {
    width: 100%;
}

.journalModalBox {
    display: flex;
    flex-direction: column;
}

#journalMainModal {
    background: rgb(190, 233, 252);
    background: linear-gradient(180deg, rgba(190, 233, 252, 1) 0%, rgba(240, 240, 240, 1) 100%);
}

.CardImg {
    height: 150px;
    padding: 10px;
}

.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 15px;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.2);
    height: 100%;
    margin-top: 15px;
    background: rgb(255, 255, 184)
}

.journalsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ComponentCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 30;
}

.journalTextPreview {
    text-align: center;
    width: 90%;
}

.cardBody:hover {
    margin-top: -5px;
    margin-bottom: -5px;
}

.desktopMainButton {
    width: 100%;
    display: flex;
    justify-content: center;
}

.deskMainButton {
    background: #5fbee7;
    color: white;
    border-radius: 5px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.2);
}

.deskMainButton:hover {
    background-color: #1074a2;
    color: white;
}

.emptyAlert {
    display: flex;
    justify-content: center;
}

.componentCardHeader {
    min-height: 10%;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}