input[type="color"] {
    width: 100%;
}

.journalModalBox {
    display: flex;
    flex-direction: column;
}

#journalMainModal {
    background: rgb(190, 233, 252);
    background: linear-gradient(180deg, rgba(190, 233, 252, 1) 0%, rgba(240, 240, 240, 1) 100%);
}

.CardImg {
    height: 150px;
    padding: 10px;
}

.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 15px;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.2);
}

.journalsContainer {
    display: flex;
    flex-direction: row;
}

.ComponentCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.journalTextPreview {
    text-align: center;
    width: 90%;
}

.ComponentCard:hover {
    margin-top: -5px;
}

.desktopMainButton {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}